# Пр 7

In [ ]:
def main(x):
    match x[2]:
        case 'STATA':
            return x0(x)
        case 'OOC':
            return 13
        case 'SHELL':
            return 14
        

def x0(x):
    match x[0]:
        case 1972:
            return x1(x)
        case 1964:
            return x3_1(x)
        case 1974:
            return 12


def x1(x):
    match x[0]:
        case 1983:
            return x4_1(x)
        case 2007:
            return x3_2(x)
        case 2008:
            return 12


def x3_1(x):
    match x[0]:
        case 'CLICK':
            return x4_2(x)
        case 'TERRA':
            return 10
        case 'UNO':
            return 11


def x4_2(x):
    match x[4]:
        case 1969:
            return 7
        case 2006:
            return 8
        case 2013:
            return 9

# Пр 8

In [ ]:
def main(n):
    m = int(n)
    y = []
    arr = [4, 1, 3, 6]
    arr.reverse()
    for i in arr:
        temp = int('0b'+'1' * i, 2)
        y.append(m & temp)
        m = m >> i
    indexes = [1, 2, 3, 0]
    indexes.reverse()
    res = 0
    c = 0
    for i in indexes:
        y[i] = y[i] << c
        res += y[i]
        c += arr[i]
    return hex(res)

print(main('10936'))

# Пр 9

In [44]:
def main(str):
    spl = str.split("\n")
    res = ''
    for i in range(len(spl)):
        s = spl[i]
        s.replace('begin', ' ')
        s = s.replace("do", " ").replace('decl', ' ')
        s = s.replace("q(", " ").replace('end', ' ')
        s = s.replace(".", " ").replace(',', ' ')
        s = s.replace(')', ' ').replace(':=', ' ')
        # s = s.split()
        res += s
    print(res)
    result = None
    # result = list(zip(s[::2], s[1::2]))
    return result

In [45]:
print(main('begin do decl q(aison_374):= rateen_810. end, do decl q(qudi_809) :=\nendi. end, do decl q(maxe) :=rila_375. end, do decl q(ati) :=\nlage_600. end,end'))

begin      aison_374   rateen_810          qudi_809    i          maxe   rila_375          ati   lage_600
None

# Пр 10

In [ ]:
def main(inp):
    inp = [i for i in inp if i[0] is not None]
    inp = [['0' if i[0] == 'Нет' else '1', *i[1].split('&')[::-1]]
           for i in inp]
    inp = [[row[0], row[1][:2] + ' ' + row[1][3:6] + ' ' + row[1][7:],
            row[2].replace('[at]', '@')] for row in inp]
    return inp

In [33]:
print(main([[None, None], [None, None], ['Нет', 'satuzij62[at]gmail.com&+7(457)943-07-82'], ['Нет', 'demid95[at]mail.ru&+7(001)534-86-54'], ['Да', 'katetidi21[at]mail.ru&+7(366)130-19-10']]))

[['0', '+7 457 943-07-82', 'satuzij62@gmail.com'], ['0', '+7 001 534-86-54', 'demid95@mail.ru'], ['1', '+7 366 130-19-10', 'katetidi21@mail.ru']]

In [ ]:
def main(params):
    if x2 == 'OOC':
        return 13
    if x2 == 'SHELL':
        return 14
    key = (x4, x0, x1, x2, x3)
    lookup = {
        (1969, 1972, 1983, 'STATA', 'CLICK'): 0,
        (2006, 1972, 1983, 'STATA', 'CLICK'): 1,
        (2013, 1972, 1983, 'STATA', 'CLICK'): 2,
        (1969, 1972, 1983, 'STATA', 'TERRA'): 0,
        (2006, 1972, 1983, 'STATA', 'TERRA'): 1,
        (2013, 1972, 1983, 'STATA', 'TERRA'): 2,
        (1969, 1972, 1983, 'STATA', 'UNO'): 0,
        (2006, 1972, 1983, 'STATA', 'UNO'): 1,
        (2013, 1972, 1983, 'STATA', 'UNO'): 2,
        (1969, 1972, 2007, 'STATA', 'CLICK'): 3,
        (1969, 1972, 2007, 'STATA', 'TERRA'): 4,
        (1969, 1972, 2007, 'STATA', 'UNO'): 5,
        (2006, 1972, 2007, 'STATA', 'CLICK'): 3,
        (2006, 1972, 2007, 'STATA', 'TERRA'): 4,
        (2006, 1972, 2007, 'STATA', 'UNO'): 5,
        (2013, 1972, 2007, 'STATA', 'CLICK'): 3,
        (2013, 1972, 2007, 'STATA', 'TERRA'): 4,
        (2013, 1972, 2007, 'STATA', 'UNO'): 5,
        (1969, 1964, 1983, 'STATA', 'CLICK'): 7,
        (2006, 1964, 1983, 'STATA', 'CLICK'): 8,
        (2013, 1964, 1983, 'STATA', 'CLICK'): 9,
        (1969, 1964, 2007, 'STATA', 'CLICK'): 7,
        (2006, 1964, 2007, 'STATA', 'CLICK'): 8,
        (2013, 1964, 2007, 'STATA', 'CLICK'): 9,
        (1969, 1964, 2008, 'STATA', 'CLICK'): 7,
        (2006, 1964, 2008, 'STATA', 'CLICK'): 8,
        (2013, 1964, 2008, 'STATA', 'CLICK'): 9,
        (1969, 1964, 2008, 'STATA', 'TERRA'): 10,
        (1969, 1964, 2007, 'STATA', 'TERRA'): 10,
        (1969, 1964, 1983, 'STATA', 'TERRA'): 10,
        (2006, 1964, 2008, 'STATA', 'TERRA'): 10,
        (2006, 1964, 2007, 'STATA', 'TERRA'): 10,
        (2006, 1964, 1983, 'STATA', 'TERRA'): 10,
        (2013, 1964, 2008, 'STATA', 'TERRA'): 10,
        (2013, 1964, 2007, 'STATA', 'TERRA'): 10,
        (2013, 1964, 1983, 'STATA', 'TERRA'): 10,
        (1969, 1964, 2008, 'STATA', 'UNO'): 11,
        (1969, 1964, 2007, 'STATA', 'UNO'): 11,
        (1969, 1964, 1983, 'STATA', 'UNO'): 11,
        (2006, 1964, 2008, 'STATA', 'UNO'): 11,
        (2006, 1964, 2007, 'STATA', 'UNO'): 11,
        (2006, 1964, 1983, 'STATA', 'UNO'): 11,
        (2013, 1964, 2008, 'STATA', 'UNO'): 11,
        (2013, 1964, 2007, 'STATA', 'UNO'): 11,
        (2013, 1964, 1983, 'STATA', 'UNO'): 11,
        (2013, 1974, 1983, 'STATA', 'UNO'): 12,
        (2013, 1974, 1983, 'STATA', 'CLICK'): 12,
        (2013, 1974, 1983, 'STATA', 'TERRA'): 12,
        (2013, 1974, 2007, 'STATA', 'UNO'): 12,
        (2013, 1974, 2007, 'STATA', 'CLICK'): 12,
        (2013, 1974, 2007, 'STATA', 'TERRA'): 12,
        (2013, 1974, 2008, 'STATA', 'UNO'): 12,
        (2013, 1974, 2008, 'STATA', 'CLICK'): 12,
        (2013, 1974, 2008, 'STATA', 'TERRA'): 12,
        (2006, 1974, 1983, 'STATA', 'UNO'): 12,
        (2006, 1974, 1983, 'STATA', 'CLICK'): 12,
        (2006, 1974, 1983, 'STATA', 'TERRA'): 12,
        (2006, 1974, 2007, 'STATA', 'UNO'): 12,
        (2006, 1974, 2007, 'STATA', 'CLICK'): 12,
        (2006, 1974, 2007, 'STATA', 'TERRA'): 12,
        (2006, 1974, 2008, 'STATA', 'UNO'): 12,
        (2006, 1974, 2008, 'STATA', 'CLICK'): 12,
        (2006, 1974, 2008, 'STATA', 'TERRA'): 12,
        (1969, 1974, 1983, 'STATA', 'UNO'): 12,
        (1969, 1974, 1983, 'STATA', 'CLICK'): 12,
        (1969, 1974, 1983, 'STATA', 'TERRA'): 12,
        (1969, 1974, 2007, 'STATA', 'UNO'): 12,
        (1969, 1974, 2007, 'STATA', 'CLICK'): 12,
        (1969, 1974, 2007, 'STATA', 'TERRA'): 12,
        (1969, 1974, 2008, 'STATA', 'UNO'): 12,
        (1969, 1974, 2008, 'STATA', 'CLICK'): 12,
        (1969, 1974, 2008, 'STATA', 'TERRA'): 12 
    }
    return lookup.get(key, 10)